<!DOCTYPE html>
<html ng-app="clientApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

     <div data-ng-include src="'/clientApp/views/index.html'"></div>


     <script type="text/javascript" src="/libs/jquery.js"></script>
     <script type="text/javascript" src="/libs/angular.js"></script>
     <script type="text/javascript" src="/clientApp/application.js"></script>
     <script type="text/javascript" src="/clientApp/controllers/indexController.js"></script>
     <script type="text/javascript" src="/clientApp/derictives/TaskDerictives.js"></script>
     <script type="text/javascript" src="/clientApp/derictives/extenssions.js"></script>
  </body>
</html>